<?xml version="1.0"?>
<config>

    <modules>
        <Epoint_SwissPost_Customer>
            <version>0.0.1</version>
        </Epoint_SwissPost_Customer>
    </modules>
    <!-- Mapping -->
    <default>
        <customer>
            <swisspost_api>
                <account_firstname>firstname</account_firstname>
                <account_lastname>lastname</account_lastname>
                <account_email>mail</account_email>
                <account_country>country</account_country>
                <account_city>city</account_city>
                <account_function>concordat_number</account_function>
                <account_street2>department</account_street2>
                <account_po_box>pobox</account_po_box>
            </swisspost_api>
        </customer>
        <anonymous_customer>
            <swisspost_api>
                <account_firstname>firstname</account_firstname>
                <account_lastname>lastname</account_lastname>
                <account_email>mail</account_email>
                <account_country>country</account_country>
                <account_city>city</account_city>
                <account_function>concordat_number</account_function>
                <account_street2>department</account_street2>
                <account_po_box>pobox</account_po_box>
            </swisspost_api>
        </anonymous_customer>
        <!--Address-->
        <address>
            <swisspost_api>
                <address_ref>entity_id</address_ref>
                <address_firstname>firstname</address_firstname>
                <address_lastname>lastname</address_lastname>
                <address_email>email</address_email>
                <address_website>website_id</address_website>
                <address_company>company</address_company>
                <address_zip>postcode</address_zip>
                <address_city>city</address_city>
                <address_country>country</address_country>
                <address_phone>telephone</address_phone>
                <address_fax>fax</address_fax>
                <address_street2>department</address_street2>
                <address_po_box>pobox</address_po_box>
            </swisspost_api>
        </address>
        <!--Address-->
        <!--sale_create_order-->
        <order_account>
            <swisspost_api>
                <account_firstname>firstname</account_firstname>
                <account_lastname>lastname</account_lastname>
                <account_email>email</account_email>
                <account_street>street1</account_street>
                <account_country>country</account_country>
                <account_city>city</account_city>
                <account_function>concordat_number</account_function>
                <account_street2>department</account_street2>
            </swisspost_api>
        </order_account>
        <!-- Anonymoys order, will be applied to order !-->
        <order_account_anonymous>
            <swisspost_api>
                <account_firstname>firstname</account_firstname>
                <account_lastname>lastname</account_lastname>
                <account_email>email</account_email>
                <account_street>street1</account_street>
                <account_country>country</account_country>
                <account_city>city</account_city>
                <account_street2>depapartment</account_street2>
                <account_function>concordat_number</account_function>
            </swisspost_api>
        </order_account_anonymous>
        <!--sale_create_order-->
    </default>
    <!-- End Mapping -->
    <global>
        <helpers>
            <swisspost_customer>
                <class>Epoint_SwissPost_Customer_Helper</class>
            </swisspost_customer>
        </helpers>
        <models>
            <swisspost_customer>
                <class>Epoint_SwissPost_Customer_Model</class>
                <resourceModel>swisspost_customer_resource</resourceModel>
            </swisspost_customer>
            <swisspost_customer_resource>
                <class>Epoint_SwissPost_Customer_Model_Resource</class>
                <entities>
                    <odoo>
                        <table>epoint_swisspost_customer_odoo</table>
                    </odoo>
                </entities>
            </swisspost_customer_resource>
        </models>
        <resources>
            <swisspost_customer_setup>
                <setup>
                    <module>Epoint_SwissPost_Customer</module>
                </setup>
            </swisspost_customer_setup>
        </resources>
        <events>
            <!-- observer the events -->
            <sales_order_save_before>
                <observers>
                    <swisspost_order>
                        <class>swisspost_customer/customer_observer</class>
                        <method>beforeOrderSave</method>
                    </swisspost_order>
                </observers>
            </sales_order_save_before>
            <adminhtml_customer_save_after>
                <observers>
                    <swisspost_customer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>afterCustomerSave</method>
                    </swisspost_customer>
                </observers>
            </adminhtml_customer_save_after>
            <customer_delete_before>
                <observers>
                    <swisspost_customer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>beforeCustomerDelete</method>
                    </swisspost_customer>
                </observers>
            </customer_delete_before>
            <!--
            <customer_address_save_after>
                <observers>
                    <customer_addres_after_save_viv_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>afterAddressSave</method>
                    </customer_addres_after_save_viv_observer>
                </observers>
            </customer_address_save_after>
            -->
            <swisspost_api_before_create_update_address>
                <observers>
                    <customer_addres_before_save_address_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/address_observer</class>
                        <method>SwissPostApiBeforeCreateUpdateAddress</method>
                    </customer_addres_before_save_address_observer>
                </observers>
            </swisspost_api_before_create_update_address>
            <swisspost_api_after_create_update_address>
                <observers>
                    <customer_swisspost_api_after_create_update_address_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/address_observer</class>
                        <method>SwissPostApiAfterCreateUpdateAddress</method>
                    </customer_swisspost_api_after_create_update_address_observer>
                </observers>
            </swisspost_api_after_create_update_address>
            <swisspost_api_before_create_order>
                <observers>
                    <!-- Attach addresses-->
                    <address_swisspost_api_before_create_order_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/address_observer</class>
                        <method>SwissPostApiBeforeCreateOrder</method>
                    </address_swisspost_api_before_create_order_observer>
                    <!-- Attach customer-->
                    <customer_swisspost_api_before_create_order_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>SwissPostApiBeforeCreateOrder</method>
                    </customer_swisspost_api_before_create_order_observer>
                </observers>
            </swisspost_api_before_create_order>
            <swisspost_api_before_create_update_account>
                <observers>
                    <customer_swisspost_api_before_create_update_account_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>SwissPostApiBeforeCreateUpdateAccount</method>
                    </customer_swisspost_api_before_create_update_account_observer>
                </observers>
            </swisspost_api_before_create_update_account>
            <swisspost_api_after_create_update_account>
                <observers>
                    <customer_swisspost_api_after_create_update_account_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>SwissPostApiAfterCreateUpdateAccount</method>
                    </customer_swisspost_api_after_create_update_account_observer>
                </observers>
            </swisspost_api_after_create_update_account>
            <swisspost_api_before_create_update_anonymous_account>
                <observers>
                    <customer_swisspost_api_before_create_update_account_anonymous_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>SwissPostApiBeforeCreateUpdateAnonymousAccount</method>
                    </customer_swisspost_api_before_create_update_account_anonymous_observer>
                </observers>
            </swisspost_api_before_create_update_anonymous_account>
            <swisspost_api_after_create_update_anonymous_account>
                <observers>
                    <customer_swisspost_api_after_create_update_anonymous_account_observer>
                        <type>singleton</type>
                        <class>swisspost_customer/customer_observer</class>
                        <method>SwissPostApiAfterCreateUpdateAnonymousAccount</method>
                    </customer_swisspost_api_after_create_update_anonymous_account_observer>
                </observers>
            </swisspost_api_after_create_update_anonymous_account>
            <payment_method_is_active>
            <observers>
                <customer_swisspost_api>
                    <type>singleton</type>
                    <class>swisspost_customer/payment_observer</class>
                    <method>IsActive</method>
                </customer_swisspost_api>
            </observers>
        </payment_method_is_active>
        </events>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <swisspost_customer translate="title" module="swisspost_customer">
                                            <title>SwissPost Customer Settings</title>
                                        </swisspost_customer>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>