<?xml version="1.0"?>
<config>
    <modules>
        <Epoint_SwissPostDebug>
            <version>0.1.0</version>
        </Epoint_SwissPostDebug>
    </modules>
    <global>
        <helpers>
            <swisspostdebug>
                <class>Epoint_SwissPostDebug_Helper</class>
            </swisspostdebug>
        </helpers>
        <blocks>
            <swisspostdebug>
                <class>Epoint_SwissPostDebug_Block</class>
            </swisspostdebug>
        </blocks>
        <models>
            <swisspostdebug>
                <class>Epoint_SwissPostDebug_Model</class>
            </swisspostdebug>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <swisspostdebug before="Mage_Adminhtml">Epoint_SwissPostDebug_Adminhtml</swisspostdebug>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <add_product_import_button>
                        <type>model</type>
                        <class>Epoint_SwissPostDebug_Model_Observer</class>
                        <method>addProductImportButton</method>
                    </add_product_import_button>
                </observers>
            </adminhtml_block_html_before>
            <adminhtml_widget_container_html_before>
                <observers>
                    <swisspost_order_admin_sales_order>
                        <type>singleton</type>
                        <class>swisspostdebug/observer</class>
                        <method>adminhtmlWidgetContainerHtmlBefore</method>
                    </swisspost_order_admin_sales_order>
                </observers>
            </adminhtml_widget_container_html_before>
        </events>
    </adminhtml>
</config>